
{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-4 mx-auto table-responsive">
			<table class="table table-bordered table-hover table-light">                
				<thead class="thead-dark ">
					<br/><br/><br/><br/><br/><br/><br/><br/><br/>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Zona</th>
						<th scope="col">Cidade</th>
						<th scope="col">UF</th>
					</tr>
				</thead>
				<tbody>            
					<tr>
						{%for zona in zonas%}                  
						<td><strong>{{zona.id}}</strong> </td>
						<td>{{zona.zona}}</td>
						<td>{{zona.cidade}}</td>          
						<td>{{zona.uf}}</td>                              
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>




<!--{%for zona in zonas%}     
<div class="container-fluid mb-2">
	<div class="row">
		<div class="col-4">	
			<div class="card bg-info">
				<div class="card-body">
					<h5 class="card-title">{{zona.zona}}</h5>		
					<h6 class="card-subtitle mb-2 text-muted">{{zona.zona}}</h6>					             
					<p>Zona da cidade de Teresina</p>
				</div>
			</div>
		</div>
		<div class="col-4">	
			<div class="card bg-info">
				<div class="card-body">
					<h5 class="card-title">{{zona.zona}}</h5>		
					<h6 class="card-subtitle mb-2 text-muted">{{zona.zona}}</h6>					             
					<p>Zona da cidade de Teresina</p>
				</div>
			</div>
		</div>
		<div class="col-4">	
			<div class="card bg-info">
				<div class="card-body">
					<h5 class="card-title">{{zona.zona}}</h5>		
					<h6 class="card-subtitle mb-2 text-muted">{{zona.zona}}</h6>					             
					<p>Zona da cidade de Teresina</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}-->



{% endblock %}