
{% extends "accounts/dashboard.html" %}

{% load bootstrap %}
{% block dashboard_content %}
<div class="container ">
    <div class="row">
        <div class="col-md-5 mx-auto">  
            <form method="post">

                <!--{% if success %}
                <p>Os dados foram alterados com sucesso!</p>
                {% endif%}-->
                
                {% csrf_token %}
                {{ form|bootstrap }}
    <fieldset>
         <div>                

                       {{ field.errors }}
                   </div>
                 
                    <div>
                        <button class="btn btn-dark" type="submit">Salvar Modificações</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}