
{% extends "base.html" %}

{% block content %}
<div class="form-group">
    <div class="form-control">
        <h2>Informe seus dados de cadastro</h2>
        <form method="post">
            {% csrf_token %}
            <fieldset >
                
                {{ form.non_field_errors }}

                {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <div>
                    <button class="btn-default btn" type="submit">Entrar</button>
                </div>
            </fieldset>
            <p>
                Não é cadastrado? <a href="{% url 'register' %}" title="">Cadastre-se</a> <br />
                Esqueceu a senha? <a href="#" title="">Nova senha</a> <br />
            </p>
        </form>

    </div>

    {% endblock %}