
{% extends "base.html" %}
{% load bootstrap %}
{% block content %}
<div class="container ">
    <div class="row ">
        <div class="col-md-6 mx-auto">            
            <br/><br/><br/>
            <h2 class="shadow p-3 mb-5 bg-white rounded text-center">Informe seus dados de cadastro</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <fieldset >
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div>                

                       {{ field.errors }}
                   </div>
                   {% endfor %}

                   <div>
                    <button class="btn btn-dark" type="submit">Entrar</button>
                </div>
            </fieldset>
            <p>
                Não é cadastrado? <a href="{% url 'register' %}" title="">Cadastre-se</a> <br />
                Esqueceu a senha? <a href="#" title="">Nova senha</a> <br />
            </p>
        </form>

    </div>
</div>
</div>

{% endblock %}