
{% extends "base.html" %}

{% load bootstrap %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-5 mx-auto">  
            <br/><br/><br/>
            <h2>Informe seus dados</h2>
            <form class="form-group" method="post">
                {% csrf_token %} 
                {{ form|bootstrap }} 
                <fieldset>
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div>                        
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <div>
                        <button type="submit">Cadastrar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}