
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">            
            <h1>Porque roteirizar?</h1>
            <hr/>    <br/>        
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="embed-responsive embed-responsive-16by9">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/n_sbbXJPbfE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/>

{% endblock %}