
<!doctype html>
{% load static %}
<html lang="en">

<style type="text/css">
.icone{
   width:18px;
}
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Routermax: uma plataforma para automatizar a routeirização de pontos de visita." />
    <title>RouterMax</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body class="alert-secondary">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light font-weight-bold " >
        <!--<img src="/static/img/routermax_logo.PNG" class="img-fluid" alt="routermax-logo" style="width:90px; height:50px;">-->
        <a class="navbar-brand" href="{% url 'home' %}">&nbsp;&nbsp;RouterMax</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto ">          
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Início&nbsp;<img src="/static/feather/home.svg" alt="user" class="icone"></a>
                </li>
                <li class="nav-item">
                    <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastros&nbsp;<img src="/static/feather/folder-plus.svg" alt="user" class="icone">
                        </a>
                        <div class="dropdown-menu" align="right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'veiculos' %}">Veículos</a>
                            <a class="dropdown-item" href="{% url 'motoristas' %}">Motoristas</a>
                            <a class="dropdown-item" href="{% url 'zonas' %}">Zonas de atendimento</a>
                            <a class="dropdown-item" href="{% url 'pdv' %}">Clientes <strong>(Pontos de visita)</strong></a>
                            <a class="dropdown-item" href="#">Justificativas</a>
                            <a class="dropdown-item" href="#">Pontos de Visita</a>
                        </div>                
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Relatórios&nbsp;<img src="/static/feather/book-open.svg" alt="user" class="icone">
                        </a>
                        <div class="dropdown-menu" align="right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'index' %}">Veículos</a>
                            <a class="dropdown-item" href="#">Motoristas</a>
                            <a class="dropdown-item" href="{% url 'zonas_list' %}">Zonas de atendimento</a>
                            <a class="dropdown-item" href="{% url 'pdv_list' %}">Clientes <strong>(Pontos de visita)</strong></a>
                            <a class="dropdown-item" href="#">Justificativas</a>
                        </div>                
                    </div>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Fale Conosco&nbsp;<img src="/static/feather/mail.svg" alt="user" class="icone"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'devs' %}">Devs&nbsp;<img src="/static/feather/code.svg" alt="user" class="icone"></a>
                </li>
                {% if user.is_authenticated %}                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Painel&nbsp;<img src="/static/feather/activity.svg" alt="user" class="icone"></a>
                </li>
                <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Opções&nbsp;<img src="/static/feather/settings.svg" alt="user" class="icone"></a>
                    <div class="dropdown-menu" align="right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Editar conta</a>
                        <a class="dropdown-item" href="#">Alterar Senha</a>
                        <a class="dropdown-item" href="#">Alterar E-mail</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><img src="/static/feather/log-out.svg" alt="account logout" class="icone">&nbsp;&nbsp;Logout</a>
                    </div>                
                </div>
            </li>
            {% else%}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Entrar&nbsp;<img src="/static/feather/user.svg" alt="user" class="icone"></a></li>
            </div>
            {% endif %}
        </ul>    
    </div>
    
</nav>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
-->

<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>


<br/><br/><br/>
{% block content %} {% endblock %}  


<footer class="font-weight-bold footer fixed-bottom">    

    <div class="text-center">Routermax, a menor distância entre você e o seu destino!
      <a>© 2019 Copyright</a>
  </div>

  <style type="text/css">
  footer{
    width: 100%;        
    bottom:0;
}
</style>
</footer>
</body>
</html>

