
{% extends "base.html" %}

{% block content %}
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="container-fluid">
    <div class="row">
        <div class="mx-auto text-light">
            <h1 cl>Fale conosco</h1>
            <p>Para críticas e e susgestões, entre em contato conosco no e-mail abaixo.</p>
            <h4>E-mail:</h4>
            <ul>
                <li>E-mail: <a href="mailto:glaysonwow@gmail.com">glaysonwow@gmail.com</a></li>                
            </ul>
        </div>
    </div>
    {% endblock %}