
{% extends "base.html" %}

{% block content %}

<div class="jumbotron ">
  <h1 class="display-5" >RouterMax</h1>
  <p class="lead ">A solução definitiva para problemas de logística porta a porta!</p>
  <hr class="my-3">
  <p>O software de criação de rotas que lhe ajuda a otimizar o planejamento das rotas de seus veículos:
  otimize suas rotas e reduza seus custos !</p>
  <a class="btn btn-dark" href="{% url 'about' %}" role="button">Saiba mais</a>
</div>

<div class= "col-sm-11 text-left">
    <div>
        <div>
            <h3>Porque roteirizar?</h3>
            <p>
                Otimize seus roteiros de viagens e escolha pelo caminho mais econômico através do Roteirizador RouterMax. O Roteirizador é uma ferramenta que calcula e informa a melhor forma de viajar.<br />

                O software Roteirizador permite análises rápidas e precisas quanto ao aproveitamento ideal dos recursos envolvidos. Para tanto, o Roteirizador utiliza uma série de recursos gráficos que incluem os mapas detalhados da região de atuação e das facilidades operacionais, proporcionando ao usuário a visualização de sua estratégia.
            </p>
        </div>
    </div>
</div>

<div>
    <div>
        <div>
            <img src="http://placehold.it/400x250"
            alt="Fórum de Dúvidas">
        </div>
    </div>
    <div class= "col-sm-11 text-left">
        <div>
            <h4>Fórum de Dúvidas</h4>
            <h3>Gestão de frota</h3>
            <p>
                O software de gestão de frota é usado, como o próprio nome já diz, para administrar os veículos utilizados pela empresa. Este gerenciamento engloba desde a compra de peças para os veículos até a sua manutenção. Com todo o controle proporcionado por esse sistema, a empresa consegue contar com uma frota de alta performance, que dificilmente o deixará na mão. Com o software de gestão de frota, os gestores conseguem:                
                <ul>
                    <li>registrar os defeitos ao término das viagens;</li>
                    <li>acompanhar a km das peças aplicadas em cada veículo e acompanhar o melhor rendimento por marca/modelo;</li>
                    <li>gerenciar as peças desde a sua compra até o descarte;</li>
                    <li>saber quantos pedidos de peça foram feitos;</li>
                    <li>controle de estoque e sugestões de compras com base em vários parâmetros;</li>
                    <li> ter uma visão geral dos custos da frota e individual de cada veículo;</li>
                </ul>
            </p>
        </div>
    </div>
</div>
<div class= "col-sm-11 text-left">
    <div>
        <div>
            <h4>Exercícios</h4>
            <h3>Nosso serviço é confiável?</h3>
            <p>
                Não só te oferecemos vários benefícios com o controle da informação como, também, te ajudamos a gerenciar seus riscos em transporte, além de pensar toda a logística das suas viagens. Fazemos isso através de soluções completas em softwares que abrangem absolutamente todos os processos de movimento de mercadorias.<br />

                Estamos falando de programas que podem te auxiliar em:

                <li>Histórico de motoristas;</li>
                <li>Rastreamento de veículos;</li>
                <li>Manutenção da frota;</li>
                <li>Maximizar o desempenho logístico;</li>
                <li>Controle da jornada dos motoristas;</li>
                <li>Monitoramento de carga;</li>
            </p>
        </div>
    </div> 
</div>
<br/><br/><br/>


{% endblock %}