
{% extends "base.html" %}
{% load bootstrap %}
{% block content %}

<div>
    <h2 align="center">Cadastro de Zonas Urbanas/Rurais</h2>
    <hr/>
</div>

<br/><br/><br/><br/>
<div class="container">
    <div class="row ">
        <div class="col mx-auto"> 
            <form class="post-form form-group" action="#" method="post" >
                {% csrf_token %}
                <div class="row">
                    <div class="fieldWrapper col-12">
                        {{ form.zona.errors }}
                        <label class="font-weight-bold" for="{{ form.subject.id_for_label }}">Cliente:</label>
                        {{ form.zona }}
                    </div>
                    <div class="fieldWrapper col-4">
                        {{ form.cidade.errors }}
                        <label class="font-weight-bold" for="{{ form.subject.id_for_label }}">Cidade:</label>
                        {{ form.cidade }}
                    </div>
                    <div class="fieldWrapper col-3">
                        {{ form.uf.errors }}
                        <label class="font-weight-bold" for="{{ form.subject.id_for_label }}">UF:</label>
                        {{ form.uf }}
                    </div>
                </div><div><br/>
                    <button type="submmit" class="btn btn-dark">Cadastrar Zona</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</div>




{% endblock %}