
{% extends "base.html" %}
{% load bootstrap %}
{% block content %}

<div>
    <h2 align="center">Cadastro de Zonas Urbanas/Rurais</h2>
    <hr/>
</div>

<div class="container ">
    <div class="row ">
        <div class="col-md-4 mx-auto"> 
        <form class="post-form" action="#" method="post" >
            {% csrf_token %}
            {{ form|bootstrap }}
            <fieldset>                
                <div class="form-group">                    
                    
                </div>
                
                <div>
                    <button type="submmit" class="btn btn-info">Cadastrar Zona</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</div>

{% endblock %}