{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">            
            <h1 align="center">
                Sobre o usuário
            </h1>
        </div>
    </div>
</div>

<!--<div class="container">
    <div class="row">
        <div class="col">
            <h4 >Sobre o usuário:</h4>
            {{ cadastro.about|linebreaks }}
        </div>
    </div>
    <div >
        <div class="l-box">
            {% if cadastro.image %}
            <img src="{{ cadastro.image.url }}" alt="" />
            {% else %}
            <img src="{% static 'img/course-image.png' %}" alt="" />
            {% endif %}
            
        </div>
    </div>
</div>-->

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card border-primary mb-3" >
              
              <div class="card-body text-primary">
                <h1 class="card-title">{{ cadastro.name }}</h1>
                <p class="card-text">{{ cadastro.description|linebreaks }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}