{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row ">
        <div class="col">
            <h2 align="center">Usuários Cadastrados no Banco de Dados</h2>
            <hr/>
        </div>
    </div>
</div>
<br/>

{% for cadastro in cadastros %}
<div class="container">
    <div class="row">
        <div class="col-12 mb-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ cadastro.name }}</h5>
                <p class="card-text">{{ cadastro.description|linebreaks }}</p>
                <a href="{% url 'details' slug=cadastro.slug %}" class="btn btn-info">Detalhes</a>
            </div>
        </div>
    </div>
</div>
</div>

{% empty %}
<div class="container">
    <div class="row">
        <div class="col">
            <p>Nenhum usuário cadastrado!</p>
        </div>
    </div>
</div>
{% endfor %}
<br/><br/>
{% endblock %}