
{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="row justify-content-center align-items-center">
    <div class="centered">
        <hr/><hr/><hr/><hr/>
        <h1 class="shadow p-3 mb-5 bg-white rounded">Cadastro de Motoristas</h1>
        {% if is_valid %}
        <p>Motorista cadastrado com sucesso!</p>
        {% endif %}
        <form class="post-form" action="#" method="post" >
            {% csrf_token %}
            <fieldset>                
                <div class="form-group">
                   {{ form }}                                  
                </div>                
                <div>
                    <button type="submmit" class="btn btn-primary">Cadastrar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</div>

{% endblock %}