
{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center align-items-center">

    <div>
        <h1>Cadastro de frota</h1>
        {% if is_valid %}
        <p>Frota cadastrada com sucesso!</p>
        {% endif %}
        <form action="#" method="post">
            {% csrf_token %}
            <fieldset>                
                <div>
                    {{ form.as_p }}                    
                </div>
                
                <div>
                    <button type="submmit" class="btn btn-primary">Cadastrar</button>
                    <button type="submmit" class="btn btn-primary">Limpar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>





{% endblock %}